@media print,
(max-width: 767px)
{
    /*--------------------
        Vacancies head
    --------------------*/
    .vacancies_head
    {
        padding: 24px 0;
    }


    .vacancies_head .title
    {
        font-size: 26px;
    }



    /*--------------------------
        Vacancies advantages
    --------------------------*/
    .vacancies_advantages
    {
        padding: 32px 0;
    }


    .vacancies_advantages .row
    {
        margin-bottom: -4px;
        margin-left: 0;
    }

    .vacancies_advantages .row > *
    {
        width: 100%;
        margin-bottom: 4px;
        margin-left: 0;
    }


    .vacancies_advantages .item
    {
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;

        text-align: left;
    }


    .vacancies_advantages .item .icon
    {
        width: 80px;
        height: 88px;
        margin: 0;
        padding: 24px;
    }

    .vacancies_advantages .item .icon + *
    {
        align-self: center;

        width: calc(100% - 100px);
        margin-left: auto;
    }



    /*---------------
        Vacancies
    ---------------*/
    .vacancies .vacancy .name
    {
        font-size: 20px;
    }


    .vacancies .vacancy .row > *,
    .vacancies .vacancy .row > *.col
    {
        width: 100%;
    }

    .vacancies .vacancy .row > *:first-child
    {
        margin-bottom: 0;
    }

    .vacancies .vacancy .row > * + *
    {
        margin-top: 28px;
    }


    .vacancies .vacancy .title
    {
        font-size: 20px;

        margin-bottom: 16px;
    }


    .vacancies .vacancy .name:before
    {
        top: 7px;
    }


    .vacancies .vacancy .features .label
    {
        font-size: 20px;
    }




    /*----------------
        Text block
    ----------------*/
    .text_block blockquote,
    .text_block blockquote.left,
    .text_block blockquote.right
    {
        padding: 40px 24px 24px;
    }


    .text_block blockquote:before
    {
        top: -24px;
        left: -8px;

        width: 100px;
        height: 70px;
    }


    .text_block blockquote.left
    {
        float: none;

        margin-right: 0;
    }

    .text_block blockquote.right
    {
        float: none;

        margin-left: 0;
    }



    .text_block ul li
    {
        padding-left: 24px;
    }


    .text_block ol li
    {
        padding-left: 28px;
    }
}
