/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scroll-margin-top: 24px;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
html,
body
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}


.wrap
{
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;

    z-index: 9;
}


.main
{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}



/*---------------
    Menu block
---------------*/
.menu-block a.image .icon
{
    display: block;

    width: 100%;
    height: 78px;

    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: contain;
}



/*-----------
    Aside
-----------*/
.aside__list
{
    display: flex;
    flex-direction: column;

    gap: 8px;
}


.aside__list-item
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}


.aside__list-item .icon
{
    display: block;

    width: 40px;
    height: 40px;

    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}


.aside__list-item span
{
    top: 0;

    width: calc(100% - 56px);
    margin-right: 0;
}



/*---------------
    Vacancies
---------------*/
.vacancies button
{
    display: inline-block;

    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    cursor: pointer;
    vertical-align: top;

    color: inherit;
    border: none;
    background: none;
}



/*--------------------
    Vacancies head
--------------------*/
.vacancies_head
{
    position: relative;

    padding: 71px 0 59px;

    z-index: 3;
    text-align: center;

    color: #fff;
    background: #000;
}


.vacancies_head .container
{
    position: relative;

    margin-top: 0;
    margin-bottom: 0;

    z-index: 3;
}


.vacancies_head .title
{
    font-family: 'Neucha', cursive;
    font-size: 32px;
}


.vacancies_head .bg
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 1;
    pointer-events: none;

    object-fit: cover;
}



/*--------------------------
    Vacancies advantages
--------------------------*/
.vacancies_advantages
{
    padding: 54px 0 62px;
}


.vacancies_advantages .container
{
    margin-top: 0;
    margin-bottom: 0;
}


.vacancies_advantages .row
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: -40px;
    margin-left: -88px;
}

.vacancies_advantages .row > *
{
    width: calc(25% - 88px);
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 40px;
    margin-left: 88px;
}


.vacancies_advantages .item
{
    display: block;

    padding: 0 12px;

    font-size: 18px;
    line-height: normal;

    text-align: center;

    color: #372919;
}


.vacancies_advantages .item .icon
{
    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 138px;
    height: 144px;
    margin: 0 auto 2px;
}


.vacancies_advantages .item .icon img
{
    position: relative;

    display: block;

    max-width: 100%;
    max-height: 100%;

    z-index: 3;
}


.vacancies_advantages .item .icon .bg
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 1;
}



/*---------------
    Vacancies
---------------*/
.vacancies
{
    margin-bottom: 35px;
}


.vacancies .container
{
    margin-top: 0;
    margin-bottom: 0;
}


.vacancies .vacancy
{
    width: 1240px;
    max-width: 100%;
    margin: 0 auto;
    padding: 47px 0;

    line-height: normal;

    color: #372919;
    background: url(../images/bg_vacancy.png) 50% 0 repeat-x, url(../images/bg_vacancy.png) 50% 100% repeat-x;
}

.vacancies .vacancy + .vacancy
{
    margin-top: -5px;
}


.vacancies .vacancy .name
{
    position: relative;

    padding-left: 20px;

    font-size: 25px;
    font-weight: 700;
}

.vacancies .vacancy .name:before
{
    position: absolute;
    top: 9px;
    left: 0;

    display: block;

    width: 9px;
    height: 9px;

    content: '';

    border-radius: 50%;
    background: #0f903d;
}


.vacancies .vacancy .date
{
    margin-top: 18px;

    font-family: 'Inter';
    font-size: 16px;

    color: #828282;
}


.vacancies .vacancy .row
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 28px;
}

.vacancies .vacancy .row > *
{
    max-width: 320px;
}


.vacancies .vacancy .title
{
    margin-bottom: 20px;

    font-family: 'Neucha', cursive;
    font-size: 26px;
}


.vacancies .vacancy .info + .info
{
    margin-top: 32px;
}


.vacancies .vacancy .features > *
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.vacancies .vacancy .features > * + *
{
    margin-top: 30px;
}


.vacancies .vacancy .features .label
{
    font-family: 'Neucha', cursive;
    font-size: 26px;
}

.vacancies .vacancy .features .val
{
    margin-left: 12px;

    font-family: 'Inter';
    font-size: 16px;
}


.vacancies .vacancy ul li
{
    position: relative;

    display: block;
    overflow: hidden;

    padding-left: 20px;

    list-style-type: none;

    font-size: 16px;
}

.vacancies .vacancy ul li + li
{
    margin-top: 12px;
}

.vacancies .vacancy ul li:before
{
    position: absolute;
    top: 8px;
    left: 0;

    display: block;

    width: 12px;
    height: 1px;

    content: '';

    background: currentColor;
}


.vacancies .vacancy .phone
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;

    color: #0f903d;
}

.vacancies .vacancy .phone img
{
    display: block;

    margin-right: 12px;
}

.vacancies .vacancy .phone a
{
    white-space: nowrap;
    text-decoration: underline;

    color: currentColor;
}


.vacancies .vacancy .email
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-top: 17px;

    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;

    color: #372919;
}

.vacancies .vacancy .email img
{
    display: block;

    margin-right: 12px;
}

.vacancies .vacancy .email a
{
    white-space: nowrap;
    text-decoration: underline;

    color: currentColor;
}


.vacancies .vacancy .send_resume_btn
{
    margin-top: 35px;
    padding: 12px 24px;

    font-size: 15px;
    font-weight: 700;

    color: #592616;
    border-radius: 8px;
    background: linear-gradient(180deg, #ffd452 0%, #ffc519 100%);
    box-shadow: 0 1px 0 0 #e79b14;
}

.vacancies .vacancy .send_resume_btn:hover
{
    background: linear-gradient(to bottom, #ffc63b, #ffb412);
    box-shadow: 0 1px 0 #e79b13;
}

.vacancies .vacancy .send_resume_btn:active
{
    background: linear-gradient(to top, #ffc63b, #ffb412);
    box-shadow: 0 1px 0 #e79b13 inset;
}





.text_block blockquote
{
    position: relative;

    display: flex;
    flex-direction: column;

    width: 921px;
    max-width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 42px 42px 42px 73px;

    font-family: 'Neucha';
    font-size: 24px;
    line-height: 30px;

    color: #372919;
    border-radius: 8px;
    background: #fdefcc;
}


.text_block blockquote:before
{
    position: absolute;
    top: -34px;
    left: -7px;

    display: block;

    width: 130px;
    height: 90px;

    content: '';
    z-index: 1;
    pointer-events: none;

    background: url(../images/bg_blockquote.svg) 0 0/100% 100% repeat-x;
}


.text_block blockquote p
{
    margin: 0;
    padding: 0;
}


.text_block blockquote cite
{
    display: block;

    margin-top: 24px;
    margin-left: auto;
    padding-top: 12px;

    text-align: right;

    background: url(../images/bg_blockquote_cite.png) 0 0/8px auto repeat-x;
}


.text_block blockquote.left,
.text_block blockquote.right
{
    width: 530px;
    margin-top: 15px;
    margin-bottom: 24px;
    padding: 55px 42px 38px;
}


.text_block blockquote.left
{
    float: left;

    margin-right: 131px;
}

.text_block blockquote.right
{
    float: right;

    margin-left: 131px;
}


.text_block blockquote.left cite,
.text_block blockquote.right cite
{
    width: 100%;
}



.text_block ul
{
    display: flex;
    flex-direction: column;

    width: 921px;
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

    gap: 8px;
}


.text_block ul li
{
    position: relative;

    display: block;
    overflow: hidden;

    padding-left: 31px;

    list-style-type: none;
}


.text_block ul li:before
{
    position: absolute;
    top: 9px;
    left: 4px;

    display: block;

    width: 8px;
    height: 8px;

    content: '';

    border-radius: 50%;
    background: #cc3d41;
}


.text_block ol
{
    display: flex;
    flex-direction: column;

    width: 921px;
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

    counter-reset: li;

    gap: 20px;
}


.text_block ol li
{
    position: relative;

    display: block;
    overflow: hidden;

    padding-left: 34px;

    list-style-type: none;
}


.text_block ol li:before
{
    position: absolute;
    top: 0;
    left: 0;

    font-weight: 700;

    content: counter(li) '.';
    counter-increment: li;

    color: #0f903d;
}
